<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=	, initial-scale=1.0">
    <title>Make new comment</title>
</head>
<body>
    <h1>make new comment</h1>
    <form action="http://localhost:3001/comments" method="post">
        <section>
            <label for="username">Enter Username:</label>
            <br>
            <input id="username" type="text" name="username">
        </section>
        <section>
            <label for="comment">Enter Comment:</label>
            <br>
            <input id="comment" type="textarea" rows="10" name="comment">
        </section>
        <br>
        <button>Submit comment</button>
    </form>
    
</body>
</html>