<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <h1><strong>this is the home page</strong></h1>
    <div class="mainDiv">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto porro molestias reiciendis nam quo rem, ea voluptatem voluptas deserunt animi eum iusto aperiam expedita ipsum ab necessitatibus earum, ipsa natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse corporis temporibus velit, nihil dolore, officia blanditiis similique quaerat obcaecati iusto voluptatum accusamus suscipit atque ratione, ullam autem? Temporibus, atque praesentium.</p>
    </div>
    <h2 class="rand"> Your random number is: <%= Math.floor(Math.random()*10)+1 %> </h2>
    
</body>
</html>