<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tacos!</title>
</head>
<body>
    <h1>the Tacos Page</h1>
    <form action="http://localhost:3001/tacos" method="post">
        <input type="text" name="meat"></input:filling>
        <input type="number" name="qty"></input:amount>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>